@font-face {
  font-family: "TeX Gyre Heros";
  font-weight: normal;
  font-style: normal;
  src: url("texgyreheros-regular-webfont.eot");
  src: url("texgyreheros-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("texgyreheros-regular-webfont.woff") format("woff"),
    url("texgyreheros-regular-webfont.ttf") format("truetype"),
    url("texgyreheros-regular-webfont.svg#tex_gyre_herosregular") format("svg");
}
