/* Font */

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* Post Effect */

@keyframes scanlines {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes glow {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.3;
  }
}

/* React Flow */

.react-flow__node {
  border: 0;
}

.react-flow__node.draggable {
  cursor: default;
}

.react-flow__node-default.selected,
.react-flow__node-default:focus {
  border: 0;
}

.react-flow__panel {
  position: static;
  margin: 0;
}

.react-flow.light {
  --xy-background-color-default: transparent;
}
.react-flow.dark {
  --xy-background-color-default: transparent;
}

/* UI */

.ui-button {
  --at-apply: "rounded-full border hover:border-gray-400 border-gray-600 text-gray-400 text-xs px-4 py-1 transition";
}

.control-button {
  --at-apply: "p-1 ml-0.5 text-sm border border-transparent hover:border-gray-600 color-gray-400 rounded";
}

.gradient-fade {
  mask: linear-gradient(to bottom, black 50%, transparent 100%);
  -webkit-mask: linear-gradient(to bottom, black 50%, transparent 100%);
}

body {
  --at-apply: "text-white bg-gray-950";
}
