@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-active {
    @apply text-brand;
  }

  body,
  .body {
    @apply bg-white dark:bg-black overflow-x-hidden font-heros text-black dark:text-white tracking-tight children:transition transition;
  }

  a {
    @apply hover:underline;
  }

  .text-outline-white {
    @apply text-transparent;
    -webkit-text-stroke: 1px white;
  }

  .text-outline-black {
    @apply text-transparent;
    -webkit-text-stroke: 1px #888;
  }

  .qt::before {
    @apply bg-neutral-600 dark:bg-neutral-400;
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 36px;
    height: 2px;
  }

  .react-icons {
    vertical-align: middle;
  }

  .contact-btn {
    @apply flex flex-row py-2 px-4 rounded-md transition;
  }

  .contact-hover {
    @apply bg-brand text-white;
  }

  .contact-icon {
    @apply my-auto mr-4 text-xl;
  }
}
