@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body,
  .body {
    @apply bg-white dark:bg-black overflow-x-hidden font-heros text-lg sm:text-xl text-black dark:text-white children:transition-all transition-all;
  }

  a {
    @apply hover:underline;
  }

  .text-outline-white {
    @apply text-transparent;
    -webkit-text-stroke: 2px white;
  }

  .text-outline-black {
    @apply text-transparent;
    -webkit-text-stroke: 2px #888;
  }
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}
