@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body,
  .body {
    @apply bg-white dark:bg-black overflow-hidden font-heros text-lg sm:text-xl text-black dark:text-white children:transition-all transition-all;
  }

  a {
    @apply hover:underline;
  }

  .text-outline-white {
    @apply text-transparent;
    -webkit-text-stroke: 1px white;
  }

  .text-outline-black {
    @apply text-transparent;
    -webkit-text-stroke: 1px #888;
  }

  .big-text {
    @apply text-[12vw] tracking-tighter w-max font-heros;
    animation: run 15s linear infinite;
  }

  @keyframes run {
    0% {
      transform: translatex(0%);
    }
    100% {
      transform: translatex(-100%);
    }
  }
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}
